---
title:
call_to_action: Contact
background_image_path: "/images/frontpage.png"
large_header: true
testimonials:
  - message: “No man kin be so strong lak de woman soldiers from de Dahomey.”
    image: "/images/cudjo.jpg"
    name: Cudjo Lewis
  - message: “Beyond this wall is a palace of women.“
    image: "/images/izogie.png"
    name: Izogie
  - message: “Most of the story is fictionalized. It has to be.“
    image: "/images/davis.png"
    name: Viola Davis
_options:
  image:
    width: 80
    height: 80
---

<div class="editable">

	<p><em>The Woman King</em> premiered at the Toronto International Film Festival on September 9, 2022. Since then, it has received a warm welcome by audiences around the world. The film is patently a masterpiece of historical epic fiction, sparking conversations and curiosity about this historical period in West Africa, in a way that no other film has so far. Our syllabus is meant to satisfy that curiosity for those who are interested in the history, over the fiction.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
