---
title: By Theme
call_to_action: Contact
background_image_path: /images/frontpage.png
large_header: false
show_in_navigation: true
navigation_order: 2
---

<div class="editable">
	<p>The syllabus is organized by themes below. It is by no means a complete bibliography of the themes we list. Following each entry, you will find arrowhead links that will bring you closer to the cited text. In many cases those links point to WorldCat, which lists libraries close to you that might have the item. In other cases, the link takes you to an open access copy of an article or chapter. Some links are to closed access materials, unfortunately. When you do find a citation behind a paywall, you may want to try using <a href="https://unpaywall.org/" target="_blank">Unpaywall</a> or <a href="https://12ft.io/" target="_blank">12ft Ladder</a> to find it elsewhere — We do hope that these themes and entries will serve you as the basis for a robust plan of study. </p>
	
	<!-- <p>The syllabus also lists the genre (book, article, etc) and the language (English, Portuguese, etc). If you want to narrow down the list to a particular genre or language you can easily do so using Ctrl + F (Windows) or Cmmd + F (Mac) on your browser, and searching for the right term (book, Portuguese, etc)</p> -->

	<!-- African women in the era of the Atlantic slave trade -->
	
	{% assign documents = site.data.bib | where:"theme", "African women in the era of the Atlantic slave trade" %}
	
	<h3>African women in the era of the Atlantic slave trade</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Afro-Brazilians in the Bight of Benin -->

	{% assign documents = site.data.bib | where:"theme", "Afro-Brazilians in the Bight of Benin" %}

	<h3>Afro-Brazilians in the Bight of Benin</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Agodjie, women warriors and Fon women -->

	{% assign documents = site.data.bib | where:"theme", "Agodjie, women warriors and Fon women" %}

	<h3>Agodjie, women warriors and Fon women</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Art, artifacts, human remains -->

	{% assign documents = site.data.bib | where:"theme", "Art, artifacts, human remains" %}

	<h3>Art, artifacts, human remains</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Dahomey and the Atlantic Slave Trade -->

	{% assign documents = site.data.bib | where:"theme", "Dahomey and the Atlantic Slave Trade" %}

	<h3>Dahomey and the Atlantic Slave Trade</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Heritage sites -->

	{% assign documents = site.data.bib | where:"theme", "Heritage sites" %}

	<h3>Heritage sites</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- History of Dahomey -->

	{% assign documents = site.data.bib | where:"theme", "History of Dahomey" %}

	<h3>History of Dahomey</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Oyo empire, Kingdom of Oyo -->

	{% assign documents = site.data.bib | where:"theme", "Oyo empire, Kingdom of Oyo" %}

	<h3>Oyo empire, Kingdom of Oyo</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Primary source (printed) -->

	{% assign documents = site.data.bib | where:"theme", "Primary source (printed)" %}

	<h3>Primary source (printed)</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Vodun religion -->

	{% assign documents = site.data.bib | where:"theme", "Vodun religion" %}

	<h3>Vodun religion</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>

	<!-- Academics on The Woman King -->

	{% assign documents = site.data.bib | where:"theme", "Academics on The Woman King" %}

	<h3>Academics on The Woman King</h3>
	<ul style="list-style-type: circle;">
		{% for document in documents %}
		<li>{{document.citation}} 
		<a href="{{document.link}}" class="link-button" target="_blank">➢</a><br> <span class="category"  style="border-style: solid;">{{document.media}}</span> <span class="category"  style="border-style: solid;">{{document.language}}</span></li>
		{% endfor %}
	</ul>

	<p class="centered">𐃆𐃆𐃆</p>



	
		
</div>


